In [1]:
#Nous avons choisi un tableau de données qui décrit le nombre de passagers de chaque pays en fonction des années 
#(en particulier entre 1970 et 2021). Il y a également d’autres catégories qui suscitent notre intérêt, 
#comme les groupes de pays selon leur catégorie économique (ici High-income countries, Low-income countries et Middle-income countries).

#Taille : On a choisi 3 pays (France, Etats-Unis et Turquie) et 3 catégories économiques 
#(High-income countries, Low-income countries et Middle-income countries) pour les lignes du DataFrame et 51 années pour les colonnes. 
#Ce qui représente 306 valeurs.

#Variables : On a six variables représentant les 3 pays (France, Etats-Unis et Turquie) 
#et les 3 catégories (High-income countries, Low-income countries et Middle-income countries) qu’on a choisi de modéliser.

#La variable Xt, pour chaque temps t (ici t représente l’année), représente le nombre de voyageurs qui passent par la France, les Etats-Unis, la Turquie 
#et dans les pays des catégories économiques mentionnées.

#Intervalle de temps : De 1970 à 2021 

#Source : https://ourworldindata.org/grapher/air-passengers-carried?tab=table

#La problématique: On cherche à analyser l’impact de la COVID-19 et des événements politiques sur le trafic aérien. 
#On pourra aussi analyser plusieurs pays selon d’autres caractéristiques (économiques).

In [3]:
import pandas as pd
import requests

# Fetch the data.
df = pd.read_csv("https://ourworldindata.org/grapher/air-passengers-carried.csv?v=1&csvType=full&useColumnShortNames=true", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})

# Fetch the metadata
metadata = requests.get("https://ourworldindata.org/grapher/air-passengers-carried.metadata.json?v=1&csvType=full&useColumnShortNames=true").json()

In [8]:
df

           Entity Code  Year  is_air_psgr
0     Afghanistan  AFG  1970     84700.00
1     Afghanistan  AFG  1971     97400.00
2     Afghanistan  AFG  1972    104900.00
3     Afghanistan  AFG  1973     96600.00
4     Afghanistan  AFG  1974     96100.00
...           ...  ...   ...          ...
8310     Zimbabwe  ZWE  2016    378803.00
8311     Zimbabwe  ZWE  2017    282539.00
8312     Zimbabwe  ZWE  2018    282539.00
8313     Zimbabwe  ZWE  2020    324226.53
8314     Zimbabwe  ZWE  2021     75638.12

[8315 rows x 4 columns]

In [10]:
#Tri
pays = ['France','Turkey','United States','High-income countries','Middle-income countries','Low-income countries']
df_filtre = df.loc[df['Entity'].isin(pays)]
df_filtre = df_filtre.drop(columns=['Code'])
print(df_filtre)

             Entity  Year  is_air_psgr
2497         France  1970    9108000.0
2498         France  1971    9569200.0
2499         France  1972   11285100.0
2500         France  1973   11957500.0
2501         France  1974   12159300.0
...             ...   ...          ...
7856  United States  2017  849403000.0
7857  United States  2018  889024000.0
7858  United States  2019  926737000.0
7859  United States  2020  369501000.0
7860  United States  2021  666153000.0

[300 rows x 3 columns]

In [12]:
df_filtre.to_csv('air-passengers.csv', index=False)

In [64]:
df_france = df_filtre.iloc[0:52,:]
df_hic = df_filtre.iloc[52:104,:]
df_lic = df_filtre.iloc[104:148,:]
df_mic = df_filtre.iloc[148:196,:]
df_turkey = df_filtre.iloc[196:248,:]
df_usa = df_filtre.iloc[248:300,:]

In [70]:
#Sauvegarde CSV 
df_france.to_csv('france-passengers.csv')
df_hic.to_csv('hic-passengers.csv')
df_lic.to_csv('lic-passengers.csv')
df_mic.to_csv('mic-passengers.csv')
df_turkey.to_csv('turkey-passengers.csv')
df_usa.to_csv('usa-passengers.csv')